.layout {
  @include flex($flex-direction: column);
  @include sq-dimen(100%);
  padding: 15px;

  .layout-content {
    @include sq-dimen(100%);
    margin-top: 15px;
  }

  .#{$ns}-navbar {
    position: sticky;
    top: 15px;

    .#{$ns}-navbar-heading {
      font-weight: bold;
    }
  }
}
