$error-color: #db3737;
$help-line-height: 1em;

.rc-form-item {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px;

  .rc-form-item-label {
    margin-bottom: 5px;
  }

  .rc-form-item-help {
    color: $error-color;
    margin-top: 3px;
    font-size: 14px;
    height: $help-line-height;
    line-height: $help-line-height;
  }
}

@function border-shadow($alpha, $color: $black, $size: 1px) {
  @return 0 0 0 $size rgba($color, $alpha);
}

.rc-form-item {
  &.rc-form-item-error {
    .#{$ns}-input {
      @include pt-input-intent($pt-intent-danger);
    }
  }
}
