@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/datetime/lib/css/blueprint-datetime.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

html,
body {
  min-height: 100%;
}

body {
  @include sq-dimen(100%);
  background-color: $light-gray5;
  color: $dark-gray5;
  font-family: 'Muli', #{$pt-font-family};
  font-size: $pt-font-size;
  margin: 0;
  padding: 0;
  overflow: auto; // prevent bouding scroll
}

img {
  vertical-align: middle;
}

a,
a:hover {
  color: inherit;
}

a {
  text-decoration: none;
}

#root {
  @include flex();
  @include dimen(100%);
  min-height: 100%;
  max-width: $max-width;
  margin: auto;
}
