.layout.users {
  .#{$ns}-card {
    @include flex($flex-direction: column);
    @include sq-dimen(100%);
  }

  .pagination-table {
    flex: 1 1 auto;
  }

  .avatar:empty {
    background-color: $selekon-color;
  }

  table {
    tr {
      th,
      td {
        @include dimen(200px);
        vertical-align: middle;

        &:nth-last-child(2) {
          @include dimen(1000px);
        }

        &:last-child {
          text-align: right;
        }
      }
    }

    .bp3-popover-wrapper {
      + .bp3-popover-wrapper {
        margin-left: 5px;
      }
    }
  }
}
